<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      :host {
        --nav-toplevel-color: var(--paper-blue-700);
        --nav-sublevel-color: var(--paper-blue-400);
        --nav-position-color: white;
        --nav-option-color: black;
        --nav-side-background-color: var(--paper-grey-300);
        --nav-side-selection-color: var(--paper-blue-500);
        --nav-side-hover-color: var(--paper-blue-200);
        --app-primary-color: var(--paper-blue-700);
        --action-primary-color: var(--paper-blue-700);
        --action-secondary-color: var(--paper-grey-700);
        --action-secondary-background-color: var(--paper-grey-100);
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }
      paper-button {
        font-family: 'Roboto', 'Noto', sans-serif;
        font-weight: normal;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
      }
      .primaryAction {
        color: white;
        background-color: var(--action-primary-color);
        width: 100%;
        margin: 0px;
      }
      .secondaryAction {
        color: var(--action-secondary-color);
        border: 1px solid;
        border-color: var(--action-secondary-color);
        width: 100%;
        margin: 0px;
      }

      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }
      .title {
        color: #212121;
        font-size: 18px;
      }
      .text-black {
        color: black;
      }
      .centered {
        text-align: center;
      }
      .margin-top {
        margin-top: 1.2em;
      }
      .margin-bottom {
        margin-bottom: 1.2em;
      }
      .displayNone {
        display: none;
      }
      .hidden {
        visibility: hidden;
      }
    </style>
  </template>
</dom-module>
