<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="uppu-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="uppu-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        overflow: hidden;
        padding: 10px;
      }

      #loginOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: white;
        z-index: 500;
      }

      .flexContainer[narrow] {
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }

      :not([narrow]).flexContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .flexContainer {
        height: 100%;
        align-items: stretch;
        flex-shrink: 0;
      }

      .collapseContainer {
        transition: all 0.3s linear;
        border: 1px solid;
        border-color: var(--paper-grey-300);
      }

      .flexContainer > .collapseContainer[selected] {
        flex:1;
      }

      .collapseContent {
        display: none;
        padding: 16px;
        color: #757575;
        background-color: #fff;
      }

      .flexContainer[narrow] .collapseContent {
        height: calc(100vh - 184px);
      }

      .collapseContainer[selected] .collapseContent {
        display: block;
        box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
      }

      .collapseHeader {
        cursor: pointer;
        text-transform: uppercase;
        height: 48px;
        line-height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--action-primary-color);;
        background-color: var(--action-secondary-background-color);
      }

      .actionContainer[wide] {
        min-width: 480px;
      }

      .loggedIn {
        visibility: hidden;
      }

      paper-icon-button {
        padding: 0px 4px;
      }

      iron-icon {
        padding-right: 5px;
      }
    </style>

    <div id="loginOverlay">
        <div class="flexContainer" narrow$="[[_isNarrowLayout]]">
          <div class="collapseContainer" selected="true">
            <div class="collapseHeader" on-click="_toggleValueContainer">
              <img src="images/manifest/icon-48x48.png"></img>
            </div>
            <div class="collapseContent">
              <div>Here is a value presentation!</div>
            </div>
          </div>
          <div class="actionContainer" wide$="[[_isWideLayout]]">
            <div class="collapseContainer" selected$="[[_isWideLayout]]">
              <div class="collapseHeader" on-click="_toggleSignUpContainer">SignUp</div>
              <div class="collapseContent">
                <paper-input
                  class="inputEmail"
                  label="Email"></paper-input>
                <paper-button class="primaryAction margin-top">Create free account</paper-button>
              </div>
            </div>

            <div class="collapseContainer">
              <div class="collapseHeader" on-click="_toggleLoginContainer">Login</div>
              <div class="collapseContent">
                <paper-input
                  class="loginEmail"
                  label="Email"></paper-input>
                <paper-input class="loginPassword" type="[[_getPasswordInputType(_passwordInputVisible)]]" label="Password">
                  <paper-icon-button slot="suffix" icon="[[_getPasswordInputIcon(_passwordInputVisible)]]" on-click="_togglePasswordInputVisibility"></paper-icon-button>
                </paper-input>
                <paper-checkbox class="margin-top margin-bottom" checked>Stay logged in</paper-checkbox>
                <paper-button class="margin-top primaryAction" on-click="_login">Login</paper-button>
              </div>
            </div>

          </div>
        </div>
    </div>
  </template>

  <script>
    class UppuLogin extends Polymer.mixinBehaviors([Polymer.IronResizableBehavior], Polymer.Element) {
      static get is() { return 'uppu-login'; }

      static get properties() {
        return {
          isExploreModeAllowed: {
            type: Boolean,
            value: !window.uppuConfig.isLoginMandatory,
            reflectToAttribute: true
          },
          _isWideLayout: {
            type: Boolean,
            value: false
          },
          _isNarrowLayout: {
            type: Boolean,
            value: false
          },
          _passwordInputVisible: {
            type: Boolean,
            value: false
          }
        };
      }

      constructor() {
        super();
        this._boundHandleResize = this._handleResize.bind(this);
      }

      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('iron-resize', this._boundHandleResize);
        this._boundHandleResize();
      }

      disconnectedCallback() {
        super.disconnetedCallback();
        this.removeEventListener('iron-resize', this._boundHandleResize);
      }

      _handleResize() {
        this.debounce("_handleResize", function() {
          if(window.matchMedia("(min-width: 640px)").matches) {
            this._isNarrowLayout = false;
            this._isWideLayout = true;
          }
          else {
            this._isNarrowLayout = true;
            this._isWideLayout = false;
          }
          Polymer.dom(this.root).querySelectorAll(".flexContainer .collapseContainer")[0].setAttribute("selected", "true");
        });
      }

      _toggleValueContainer() {
        this._toggleNarrowCollapseContainer(0, 2);
      }

      _toggleSignUpContainer() {
        this._toggleNarrowCollapseContainer(1, 0);
      }
      _toggleLoginContainer() {
        this._toggleNarrowCollapseContainer(2, 0);
      }

      _toggleNarrowCollapseContainer(index, defaultIndex) {
        var container = Polymer.dom(this.root).querySelectorAll(".flexContainer .collapseContainer");
        if(this._isNarrowLayout) {
          var isSelected = container[index].getAttribute("selected");
          for(var i=0;i<container.length;i++) {
            if(i === index) {
                if(isSelected) {
                  container[i].removeAttribute("selected");
                }
                else {
                  container[i].setAttribute("selected", "true");
                }
            }
            else if(i === defaultIndex) {
              if(isSelected) {
                container[i].setAttribute("selected", "true");
              }
              else {
                container[i].removeAttribute("selected");
              }
            }
            else {
                container[i].removeAttribute("selected");
            }
          }
        }
        else if(index !== 0){
          if(container[1].getAttribute("selected") !== null) {
            container[1].removeAttribute("selected");
            container[2].setAttribute("selected", "true");
          }
          else {
            container[2].removeAttribute("selected");
            container[1].setAttribute("selected", "true");
          }
        }
      }

      _getPasswordInputType(_passwordInputVisible) {
        return _passwordInputVisible? "": "password";
      }

      _getPasswordInputIcon(_passwordInputVisible) {
        return _passwordInputVisible? "uppu-icons:visibility" : "uppu-icons:visibility-off";
      }
      _togglePasswordInputVisibility() {
        this._passwordInputVisible = !this._passwordInputVisible;
      }

      _signUp() {
        var emailElement = Polymer.dom(this.root).querySelector(".signUpEmail");
        if(!emailElement.value) {
          emailElement.invalid = true;
          emailElement.errorMessage = "Please enter your email address";
          return;
        }
        else if(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(emailElement.value) === false) {
          emailElement.invalid = true;
          emailElement.errorMessage = "Email address is invalid. Please check for typos";
          return;
        }
        else {
          emailElement.invalid = false;
        }
      }

      _login() {
        var that = this;

        // validate input
        var emailElement = Polymer.dom(this.root).querySelector(".loginEmail");
        if(!emailElement.value) {
          emailElement.invalid = true;
          emailElement.errorMessage = "Please enter your email address";
          return;
        }
        else if(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(emailElement.value) === false) {
          emailElement.invalid = true;
          emailElement.errorMessage = "Email address is invalid. Please check for typos";
          return;
        }
        else {
          emailElement.invalid = false;
        }


        var passwordElement = Polymer.dom(this.root).querySelector(".loginPassword");
        if(!passwordElement.value) {
          passwordElement.invalid = true;
          passwordElement.errorMessage = "Please enter your password";
          return;
        }
        else if(passwordElement.value.length < 3) {
          passwordElement.invalid = true;
          passwordElement.errorMessage = "Password is too short. Please check for typos";
          return;
        }
        else {
          passwordElement.invalid = false;
        }

        // show the loading screen while connecting to the server and loading ressources...
        /*
        window.dispatchEvent(new CustomEvent('loadingScreen', {detail: {show: true}, bubbles: true, composed: true}));

        window.setTimeout(function() {
          var overlay = Polymer.dom(that.root).querySelector("#loginOverlay");
          overlay.classList.add("loggedIn");
          window.dispatchEvent(new CustomEvent('loadingScreen', {detail: {hide: true}, bubbles: true, composed: true}));
        }, 2000);
        */
      }
    }

    window.customElements.define(UppuLogin.is, UppuLogin);
  </script>
</dom-module>
