<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="uppu-icons.html">
<link rel="import" href="uppu-nav-position.html">
<link rel="import" href="uppu-nav-views.html">
<link rel="import" href="shared-styles.html">

<dom-module id="uppu-layout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      uppu-nav-position {
        position: fixed;
        top: 0;
        width: 100%;
      }
      uppu-nav-global {
        position: fixed;
        width: 100%;
        bottom: 0;
      }
      uppu-nav-local {
        margin-top: 48px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <uppu-nav-position sticky shadow view="{{view}}" style="height: 48px;">
      <!-- add own dynamic, local navigation elements here... -->
    </uppu-nav-position>

    <uppu-nav-views view="{{view}}">
      <iron-pages
          selected="[[view]]"
          attr-for-selected="name"
          fallback-selection="404"
          role="main">
        <view-404 name="404"></view-404>
        <view-444 name="444"></view-444>
      </iron-pages>
    </uppu-nav-views>
  </template>

  <script>
    // read the config and determine the default screen
    var defaultView = "home";
    for(var view in window.uppuConfig.views) {
      if(view.type === "default") {
        defaultView = view.name;
        break;
      }
    }

    class UppuLayout extends Polymer.Element {
      static get is() { return 'uppu-layout'; }

      static get properties() {
        return {
          view: {
            type: String,
            reflectToAttribute: true,
            observer: '_viewChanged',
          },
          isConnected: {
            type: Boolean,
            value: false,
            observer: '_connectionStatusChanged'
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      connectedCallback() {
        super.connectedCallback();

        //TODO: if connected
        this.isConnected = true;
      }

      _routePageChanged(page) {
        if (page === undefined) {
          return;
        }
        // If no page was found in the route data, page will be an empty string.
        this.view = page || defaultView;
      }

      _viewChanged(view) {
        // Load view import on demand. Show 404 view if fails
        var resolvedPageUrl = this.resolveUrl('view-' + view + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showView404.bind(this),
            true);
      }

      _connectionStatusChanged(isConnected) {
        if(isConnected === undefined) {
          return;
        }
        var that = this;

        if(isConnected) {
          var ironPages = Polymer.dom(this.root).querySelector("iron-pages");

          // remove existing childs
          while (ironPages.hasChildNodes()) {
            ironPages.removeChild(ironPages.lastChild);
          }

          // add 404 and 444
          var viewElement = document.createElement('view-404');
          viewElement.name = "404";
          ironPages.appendChild(viewElement);
          var viewElement = document.createElement('view-444');
          viewElement.name = "444";
          ironPages.appendChild(viewElement);

          //var paperTabs = Polymer.dom(this.root).querySelector("paper-tabs");
        //  while (paperTabs.hasChildNodes()) {
          //  paperTabs.removeChild(paperTabs.lastChild);
          //}

          // add the dynamic childs
          for(var index in window.uppuConfig.views) {
            var view = window.uppuConfig.views[index];
            viewElement = document.createElement('view-' + view.name);
            viewElement.name = view.name;
            ironPages.appendChild(viewElement);

            // also add to top-level navigation if primary or default view
            if(view.type === "primary" || view.type === "default") {
              viewElement = document.createElement('paper-tab');
              viewElement.name = view.name;
              viewElement.innerHTML = view.title;
              //paperTabs.appendChild(viewElement);
            }
          }

          // load the default screen
          Polymer.importHref(that.resolveUrl('view-' + defaultView + '.html'),
            function() {
              that.view = defaultView;
              // stop loading screen...
              window.dispatchEvent(new CustomEvent('loadingScreen', {detail: {hide: true}, bubbles: true, composed: true}));
            }, null, true);
        }
        else {
          this.view = "444";
        }
      }

      _showView404() {
        this.view = '404';
      }
    }

    window.customElements.define(UppuLayout.is, UppuLayout);
  </script>
</dom-module>
