<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="uppu-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="uppu-nav-local">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .container {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
      }
      .container[narrow] {
        flex-wrap: wrap;
      }

      .tabNav {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0;
      }

      .localTabsContent::before {
        position: absolute;
        opacity: 1;
        right: 0px;
        top: -5px;
        left: 0px;
        width: 100%;
        height: 5px;
        content: "";
        transition: opacity 0.4s;
        pointer-events: none;
        box-shadow: inset 0px -5px 6px -3px rgba(0, 0, 0, 0.4);
        will-change: opacity;
      }

      :not([show]).localTabsContent {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.5s, opacity 0.5s linear;
      }
      .localTabsContent {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        margin: 0;
        padding: 0;
        background-color: var(--nav-sublevel-color);
        color: var(--nav-option-color);
      }

      .tabContent {
        cursor: pointer;
        flex: 1;
        text-align: center;
        height: 100%;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
      }

      .globalTabsContent::before {
        position: absolute;
        opacity: 1;
        right: 0px;
        top: 53px;
        left: 0px;
        width: 100%;
        height: 5px;
        content: "";
        transition: opacity 0.4s;
        pointer-events: none;
        box-shadow: inset 0px -5px 6px -3px rgba(0, 0, 0, 0.4);
        will-change: opacity;
      }
      :not([highLayout]).globalTabsContent::before {
        top: 35px;
      }
      :not([show]).globalTabsContent {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.5s, opacity 0.5s linear;
      }
      .globalTabsContent {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        margin: 0;
        padding: 0;
        background-color: var(--nav-toplevel-color);
        color: var(--nav-option-color);
      }

      .tabContent.selected {
        color: var(--nav-position-color);
        padding-top: 5px;
        transition: padding-top .1s ease-in;
        font-size: 14px;
      }

      .content {
        margin-bottom: 40px;
      }

      :not([show]).sideNav {
        display: none;
      }

      .sideNav {
        white-space: nowrap;
        height: 100%;
        background-color: var(--nav-side-background-color);
        margin-right: 5px;
        position: sticky;
        top: 48px;
      }

      .sideNav ul {
        padding: 0;
        margin-bottom: 0px;
      }

      .sideNav li {
        list-style: none;
        line-height: 20px;
        position: relative;
      }

      .sideNav li li {
        padding-left: 20px;
      }

      .sideNav a {
        text-decoration: none;
        padding: 10px 20px 10px 10px;
        color: var(--nav-option-color);
        display:block;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: var(--paper-grey-200);
      }

      .sideNav a:hover {
        background-color: var(--nav-side-hover-color);
      }

      .sideNav li > ul {
        display: none;
      }
      .sideNav li.selected > ul {
        display:block;
        width: 100%;
      }
      .sideNav li.selected > a {
        background-color: var(--nav-side-selection-color);
        color: var(--nav-position-color);
        display: block;
      }
      .sideNav li.selected > a:after {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid var(--nav-side-selection-color);
        right: -20px;
        top: 0px;
        content: "";
      }
      .sideNav li:hover > ul{
        display:block;
      }

      :not([show]).label {
        display: none;
      }
    </style>



    <div class="container" narrow$="[[_isNarrowLayout]]">

      <div class="sideNav" show$="[[_isWideLayout]]">
      </div>

      <div class="content">
        <slot ></slot>
      </div>

      <nav class="tabNav">
        <div class="localTabsContent" show$="[[_showLocalTabNav]]">
          <paper-ripple></paper-ripple>
          <template is="dom-repeat" items="[[_currentChildren]]">
            <div class="tabContent" on-click="_goToView">
              <iron-icon icon="[[item.icon]]"></iron-icon>
              <div show$="[[_isHighLayout]]" class="label">[[item.title]]</div>
            </div>
          </template>
        </div>

        <div class="globalTabsContent"  show$="[[_showGlobalTabNav]]" highLayout$="[[_isHighLayout]]">
          <paper-ripple></paper-ripple>
          <template is="dom-repeat" items="[[views]]">
            <div class="tabContent" name="[[item.name]]" on-click="_goToView">
              <iron-icon icon="[[item.icon]]"></iron-icon>
              <div show$="[[_isHighLayout]]" class="label">[[item.title]]</div>
            </div>
          </template>
        </div>
      </nav>
    </div>
  </template>

  <script>
    class UppuNavLocal extends Polymer.mixinBehaviors([Polymer.IronResizableBehavior], Polymer.Element) {
      static get is() { return 'uppu-nav-local'; }

      static get properties() {
        return {
          view: {
            type: String,
            reflectToAttribute: true,
            notify: true,
            observer: '_viewChanged'
          },
          views: {
            type: Array,
            value: window.uppuConfig.views
          },
          _appTitle: {
            type: String,
            value: window.uppuConfig.title
          },
          _currentChildren: {
            type: Array,
            value: []
          },
          _isLocalNavEnabled: {
            type: Boolean,
            value: false
          },
          _showLocalTabNav: {
            type: Boolean,
            computed: "_computeShowLocalTabNav(_isLocalNavEnabled, _isNarrowLayout)"
          },
          _showGlobalTabNav: {
            type: Boolean,
            value: false
          },
          _isWideLayout: {
            type: Boolean,
            value: false
          },
          _isHighLayout: {
            type: Boolean,
            value: false
          },
          _isNarrowLayout: {
            type: Boolean,
            value: false
          },
          _previousScrollPosition: {
            type: Number,
            value: 0
          }
        };
      }

      constructor() {
        super();
        this._boundHandleResize = this._handleResize.bind(this);
        this._boundHandleScroll = this._handleScroll.bind(this);
      }

      connectedCallback() {
        super.connectedCallback();
        // listen to scroll events
        this.addEventListener('iron-resize', this._boundHandleResize);
        window.addEventListener('scroll', this._boundHandleScroll);
        this._boundHandleResize();
      }

      disconnectedCallback() {
        super.disconnetedCallback();
        this.removeEventListener('iron-resize', this._boundHandleResize);
        window.removeEventListener('scroll', this._boundHandleScroll);
      }

      _goToView(e) {
        this.view = e.model.item.name;
      }

      _goToFirstView() {
        this.view = this.views[0].name
      }


      _viewChanged(selection, previous) {
        if(selection === undefined) {
          return;
        }

        var globalTabs = Polymer.dom(this.root).querySelectorAll(".globalTabsContent > .tabContent");
        var sideNavTopLevelLi = Polymer.dom(this.root).querySelectorAll(".sideNav > ul > li");

        var viewIsUnknown = true;
        for(var index in this.views) {
            var view = this.views[index];

            if(view.name === selection) {
              if(view.children) {
                  this._isLocalNavEnabled = view.children.length > 1 && view.children.length < 6;
                  this._currentChildren = view.children;
              }
              else {
                this._isLocalNavEnabled = false;
              }
              if(globalTabs && globalTabs.length > 0) {
                globalTabs[index].classList.add("selected");
              }
              if(sideNavTopLevelLi && sideNavTopLevelLi.length > 0) {
                sideNavTopLevelLi[index].classList.add("selected");
              }
              viewIsUnknown = false;
              continue;
            }
            else if(view.name === previous) {
              if(globalTabs && globalTabs.length > 0) {
                globalTabs[index].classList.remove("selected");
              }
              if(sideNavTopLevelLi && sideNavTopLevelLi.length > 0) {
                sideNavTopLevelLi[index].classList.remove("selected");
              }
            }

            // signal the correct top-level for sub views
            // allow max 2 more hierachies -> usually < 5*5*5 = 125 checks; acceptable effort
            if(view.children) {
              for(var childIndex in view.children) {
                var child = view.children[childIndex];
                if(child.name === selection) {
                  if(child.children) {
                      this._isLocalNavEnabled = child.children.length > 1 && child.children.length < 6;
                      this._currentChildren = child.children;
                  }
                  else {
                    this._isLocalNavEnabled = false;
                  }
                  if(globalTabs && globalTabs.length > 0) {
                    globalTabs[index].classList.add("selected");
                  }
                  if(sideNavTopLevelLi && sideNavTopLevelLi.length > 0) {
                    sideNavTopLevelLi[index].classList.add("selected");
                    var sideNavChildLevelLi = Polymer.dom(sideNavTopLevelLi[index]).querySelectorAll("ul > li");
                    sideNavChildLevelLi[childIndex].classList.add("selected");
                  }

                  viewIsUnknown = false;
                  continue;
                }
                else if(child.name === previous) {
                  if(globalTabs && globalTabs.length > 0) {
                    globalTabs[index].classList.remove("selected");
                  }
                  if(sideNavTopLevelLi && sideNavTopLevelLi.length > 0) {
                    sideNavTopLevelLi[index].classList.remove("selected");
                    var sideNavChildLevelLi = Polymer.dom(sideNavTopLevelLi[index]).querySelectorAll("ul > li");
                    sideNavChildLevelLi[childIndex].classList.remove("selected");
                  }
                }

                if(child.children) {
                  for(var grandIndex in child.children) {
                    var grandChild = child.children[grandIndex];
                    if(grandChild.name === selection) {
                      this._isLocalNavEnabled = false;
                      viewIsUnknown = false;
                      if(globalTabs && globalTabs.length > 0) {
                        globalTabs[index].classList.add("selected");
                      }
                      if(sideNavTopLevelLi && sideNavTopLevelLi.length > 0) {
                        sideNavTopLevelLi[index].classList.add("selected");
                        var sideNavChildLevelLi = Polymer.dom(sideNavTopLevelLi[index]).querySelectorAll("ul > li");
                        sideNavChildLevelLi[childIndex].classList.add("selected");
                      }
                      continue;
                    }
                    else if(grandChild.name === previous) {
                      if(globalTabs && globalTabs.length > 0) {
                        globalTabs[index].classList.remove("selected");
                      }
                      if(sideNavTopLevelLi && sideNavTopLevelLi.length > 0) {
                        sideNavTopLevelLi[index].classList.remove("selected");
                        var sideNavChildLevelLi = Polymer.dom(sideNavTopLevelLi[index]).querySelectorAll("ul > li");
                        sideNavChildLevelLi[childIndex].classList.remove("selected");
                      }
                    }
                  }
                }
              }
            }
        }
        if(viewIsUnknown) {
            this._isLocalNavEnabled = false;
        }
      }

      _computeShowLocalTabNav(_isLocalNavEnabled, _isNarrowLayout) {
        return (_isLocalNavEnabled && _isNarrowLayout);
      }

      _handleResize() {
        this.debounce("_handleResize", function() {
          if(window.matchMedia("(min-width: 640px)").matches) {
            this._isNarrowLayout = false;
            this._showGlobalTabNav = false;

            if(this._isWideLayout === false) {
              // switched to wide, make sure side nav is there...
              var sideNav = Polymer.dom(this.root).querySelector(".sideNav");

              // clear side nav entries
              while (sideNav.hasChildNodes()) {
                sideNav.removeChild(sideNav.lastChild);
              }

              // add the paper ripple effect
              sideNav.appendChild(document.createElement("paper-ripple"));

              var ul = document.createElement("ul");
              for(var index in this.views) {
                var view = this.views[index];
                var li = document.createElement("li");
                if(view.name === this.view) {
                  li.classList.add("selected");
                }
                var a = document.createElement("a");
                a.href = "/" + view.name;
                a.textContent = view.title;
                li.appendChild(a);

                if(view.children && view.children.length > 0) {
                  var childrenUl = document.createElement("ul");

                  for(var childIndex in view.children) {
                    var child = view.children[childIndex];
                    var childLi = document.createElement("li");
                    if(child.name === this.view) {
                      childLi.classList.add("selected");
                    }
                    var childA = document.createElement("a");
                    childA.href = "/" + child.name;
                    childA.textContent = child.title;
                    childLi.appendChild(childA);

                    if(child.children && child.children.length > 0) {
                      var grandChildrenUl = document.createElement("ul");
                      for(var grandIndex in child.children) {
                        var grandChild = child.children[grandIndex];
                        var grandChildLi = document.createElement("li");
                        if(grandChild.name === this.view) {
                          grandChild.classList.add("selected");
                        }
                        var grandChildA = document.createElement("a");
                        grandChildA.href = "/" + grandChild.name;
                        grandChildA.textContent = grandChild.title;
                        grandChildLi.appendChild(grandChildA);

                        grandChildrenUl.appendChild(grandChildLi);
                      }
                      childLi.appendChild(grandChildrenUl);
                    }
                    childrenUl.appendChild(childLi);
                  }
                  li.appendChild(childrenUl)
                }
                ul.appendChild(li);
              }
              sideNav.appendChild(ul);
            }
            this._isWideLayout = true;
          }
          else {
            this._isWideLayout = false;
            this._isNarrowLayout = true;
            this._showGlobalTabNav = true;
          }

          if(window.matchMedia("(min-height: 640px) and (min-width: 480px)").matches) {
            this._isHighLayout = true;
          }
          else {
            this._isHighLayout = false;
          }

          this._isLocalNavEnabled = this._currentChildren && this._currentChildren.length > 1 && this._currentChildren.length < 6;
        });
      }

      _handleScroll() {
        this.debounce("_handleScroll", function() {
          if(!this._isNarrowLayout) {
            // irrelevant as tab nav is not shown anyways
            return;
          }

          var currentScrollPosition = window.pageYOffset;
          var scrollDiff = this._previousScrollPosition - currentScrollPosition;

          if(scrollDiff < 0) {
            // hide nav
            this._isLocalNavEnabled = false;
            this._showGlobalTabNav = false;
          }
          else if( scrollDiff > 0) {
            // show nav
            this._isLocalNavEnabled = true && this._currentChildren && this._currentChildren.length > 1 && this._currentChildren.length < 6;
            this._showGlobalTabNav = true;
          }
          this._previousScrollPosition = currentScrollPosition;

        }, 20);
      }
    }

    window.customElements.define(UppuNavLocal.is, UppuNavLocal);
  </script>
</dom-module>
