<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/uppu-login.html">

<dom-module id="uppu-loader">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }
      #loadingOverlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000;
      }
      #loadingMessage {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100px;
        height: 100px;
        text-align: center;
        z-index: 1001;
      }
      #loadingLoader {
          display: block;
          position: relative;
          left: 50%;
          top: 50%;
          width: 180px;
          height: 180px;
          margin: -90px 0 0 -90px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: #6192ED;
          -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
          z-index: 1001;
      }
      #loadingLoader:before {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          right: 5px;
          bottom: 5px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: #0058FE;
          -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
      }
      #loadingLoader:after {
          content: "";
          position: absolute;
          top: 15px;
          left: 15px;
          right: 15px;
          bottom: 15px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: #03389D;
          -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
      }
      #loadingOverlay .loader-section {
          position: fixed;
          top: 0;
          width: 51%;
          height: 100%;
          background: #a9a9a9;
          z-index: 1000;
          -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(0);  /* IE 9 */
          transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
      }

      #loadingOverlay .loader-section.section-left {
          left: 0;
      }

      #loadingOverlay .loader-section.section-right {
          right: 0;
      }
      .loaded #loadingOverlay .loader-section.section-left {
          -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: translateX(-100%);  /* IE 9 */
                  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

          -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
      }
      .loaded #loadingOverlay .loader-section.section-right {
          -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: translateX(100%);  /* IE 9 */
                  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

          -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
      }
      .loaded #loadingLoader {
          opacity: 0;
          -webkit-transition: all 0.3s ease-out;
                  transition: all 0.3s ease-out;
      }
      .loaded #loadingOverlay {
          visibility: hidden;

          -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: translateY(-100%);  /* IE 9 */
                  transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

          -webkit-transition: all 0.3s 1s ease-out;
                  transition: all 0.3s 1s ease-out;
      }
      @-webkit-keyframes spin {
          0%   {
              -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: rotate(0deg);  /* IE 9 */
              transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
          }
          100% {
              -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: rotate(360deg);  /* IE 9 */
              transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
          }
      }
      @keyframes spin {
          0%   {
              -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: rotate(0deg);  /* IE 9 */
              transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
          }
          100% {
              -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: rotate(360deg);  /* IE 9 */
              transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
          }
      }
    </style>

    <template is="dom-if" if="[[isLoggingIn]]">
      <uppu-login></uppu-login>
    </template>

    <template is="dom-if" if="[[isLoading]]">
      <div id="loadingOverlay">
        <div id="loadingLoader"></div>
        <div id="loadingMessage" class="centered">
          <img src="/images/manifest/icon-72x72.png"></img>
          <span>Loading...</span>
        </div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
      </div>
    </template>

    <template is="dom-if" if="[[isLayoutReady]]">
      <uppu-layout></uppu-layout>
    </template>
  </template>

  <script>
    class UppuLoader extends Polymer.Element {
      static get is() { return 'uppu-loader'; }

      static get properties() {
        return {
          isLayoutReady: {
            type: Boolean,
            value: false
          },
          isLoggingIn: {
            type: Boolean,
            value: window.uppuConfig.isLoginMandatory,
            reflectToAttribute: true
          },
          isLoading: {
            type: Boolean,
            value: !window.uppuConfig.isLoginMandatory,
            reflectToAttribute: true
          }
        };
      }

      _handleLoadingScreen(e) {
        if(e.detail.hide) {
          this.isLoading = false;
        }
        else if(e.detail.show) {
          this.isLoading = true;
        }
      }

      constructor() {
        super();
        this._boundHandleLoadingScreen = this._handleLoadingScreen.bind(this);
      }

      connectedCallback() {
        super.connectedCallback();
        var that = this;

        // listen to loading screen show/hidde
        window.addEventListener('loadingScreen', this._boundHandleLoadingScreen);

        // preload the app layout in the background
        Polymer.RenderStatus.afterNextRender(this, () => {
          Polymer.importHref(that.resolveUrl('uppu-layout.html'),
            function() {
              // add the layout to the DOM
              that.isLayoutReady = true;
            }, null, true);
        });
      }

      disconnectedCallback() {
        super.disconnetedCallback();
        window.removeEventListener('loadingScreen', this._boundHandleLoadingScreen);
      }
    }

    window.customElements.define(UppuLoader.is, UppuLoader);
  </script>
</dom-module>
