<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="uppu-icons.html">

<dom-module id="uppu-accordions">
  <template>
    <style>
      :host {
        display: block;
      }

      .accordionContainer {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
      }

      ::slotted(uppu-accordion) {
        flex: 1;
      }
    </style>

    <div class="accordionContainer">
      <slot id="slot"></slot>
    </div>
  </template>

  <script>
    class Accordions extends Polymer.Element {
      static get is() { return 'uppu-accordions'; }

      static get properties() {
        return {
          expand: {
            type: Boolean,
            value: true
          }
        };
      }

      constructor() {
        super();
        this._boundHandleToggle = this._handleToggle.bind(this);
      }

      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('uppu-accordion-toggle', this._boundHandleToggle);

        console.log(this.offsetWidth);

        if(this.expand) {
          var elements = Polymer.dom(this.root).querySelector("slot").assignedNodes();
          for(var i in elements) {
            if(elements[i].nodeName === "UPPU-ACCORDION") {
              elements[i].opened = true;
              break;
            }
          }
        }
      }

      disconnectedCallback() {
        super.disconnetedCallback();
        this.removeEventListener('uppu-accordion-toggle', this._boundHandleToggle);
      }

      _handleToggle(e) {
        var elements = Polymer.dom(this.root).querySelector("slot").assignedNodes();
        for(var i in elements) {
          if(elements[i].nodeName === "UPPU-ACCORDION") {
            if(elements[i].title === e.detail.title) {
              elements[i].opened = e.detail.opened;
            }
            else {
              elements[i].opened = false;
            }
          }
        }
      }
    }

    window.customElements.define(Accordions.is, Accordions);
  </script>
</dom-module>
